fastapi==0.111.0
uvicorn[standard]==0.35.0
sqlalchemy==2.0.42
psycopg2-binary==2.9.9
pydantic==2.7.4
databases==0.8.0
tenseal==0.3.16
alembic==1.13.1

celery==5.4.0
redis==6.2.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
python-dotenv==1.1.1
httpx==0.27.0
pydantic-settings==2.3.3
fastapi-limiter==0.1.6
locust==2.38.0

# Torch and Torchvision for CPU
torch==2.8.0
torchvision==0.22.1
torchaudio==2.8.0
captum==0.7.0